#!/usr/bin/bash
# ------------------------------------------------------------------------------
# Patches Oracle RDBMS 19.3 Under OL 8
# Implements recommendation from MOS Doc 2668780.1
# Ref: Oracle Recommended Patches -- "Oracle JavaVM Component Database PSU and
#      Update" (OJVM PSU and OJVM Update) Patches (Doc ID 1929745.1)
# ------------------------------------------------------------------------------

export ORACLE_SID={{ SID }}
export ORACLE_HOME={{ oracle_home }}

export PATH={{ oracle_home }}/bin:{{ oracle_home }}/OPatch:${PATH}

# Stop all Oracle processes

sqlplus -S -L / as sysdba <<DONE
shutdown immediate
exit
DONE

lsnrctl stop

# Apply DB RU

{% if combo_patch_id is defined -%}
pushd {{ combo_patch_directory }}/{{ rdbms_patch_id }}
{% else -%}
pushd {{ rdbms_patch_directory }}
{% endif %}


opatch prereq CheckConflictAgainstOHWithDetail -ph . \
    || exit 1

opatch apply -silent \
    || exit 1
    
popd 

# Apply JavaVM RU

{% if combo_patch_id is defined -%}
pushd {{ combo_patch_directory }}/{{ ojvm_patch_id }}
{% else -%}
pushd {{ ojvm_patch_directory }}
{% endif %}

opatch prereq CheckConflictAgainstOHWithDetail -ph . \
    || exit 1

opatch apply -silent \
    || exit 1

popd

# Post-apply steps

sqlplus /nolog <<DONE
Connect / as sysdba
startup upgrade
alter pluggable database all open upgrade;
quit
DONE

pushd {{ oracle_home }}/OPatch

datapatch -verbose \
    || exit 1

popd

sqlplus /nolog <<DONE	
Connect / as sysdba
shutdown
startup
alter pluggable database all open;
quit
DONE

# Recompile Invalid Objects

sqlplus /nolog <<DONE	
Connect / as sysdba
@?/rdbms/admin/utlrp
quit
DONE

